{% extends 'base.html' %}
{% block title %}تسجيل دخول{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-5">
    <div class="card p-3">
      <h4 class="card-title text-center">تسجيل دخول</h4>
      <form method="post">
        <div class="mb-3">
          <label class="form-label">اسم المستخدم</label>
          <input name="username" class="form-control" required>
        </div>
        <div class="mb-3">
          <label class="form-label">كلمة المرور</label>
          <input name="password" type="password" class="form-control" required>
        </div>
        <div class="d-grid">
          <button class="btn btn-primary">دخول</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
